<!DOCTYPE html>
<html>
    <%- include("inc/head") %>
<body>
	<header>
        <%- include("inc/header") %>
	</header>
	<main>
        <%- include("_mv") %>
	</main>
	<footer>
		<%- include("inc/footer") %>
	</footer>
</body>
</html>