@charset "UTF-8";
.nav {
  height: 150px;
  position: relative;
  padding-bottom: 24px;
  transition: 0.5s;
}
.nav-icon {
  text-align: center;
}
.nav-icon img:last-child {
  padding-left: 0;
}
.nav-contents {
  display: none;
  margin-left: 20px;
}
.nav-bar .container {
  width: 100%;
  justify-content: space-between;
}
.nav-bar .nav {
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.5s;
  height: 60%;
  width: 25%;
  flex-basis: content;
}
.nav-bar .nav-inner {
  display: flex;
}
.nav-bar .nav-icon img {
  display: block;
}
.nav-bar .sidebar {
  align-items: flex-start;
}
.nav-bar .nav-contents {
  display: block;
}
.nav-bar .nav-contents p {
  transition: 0.5s;
  margin-top: 10px;
}
.nav-bar .nav-contents p:first-child {
  margin-top: 0;
}
.nav-bar .menubar {
  width: 75%;
  flex-basis: content;
}
.nav-bar .borrow {
  transition: 0.5s;
  margin-top: 50px;
  bottom: -8px;
}
.nav-bar .borrow::before {
  transition: 0.8s;
  transform: rotate(-180deg);
}

.borrow {
  position: relative;
  bottom: 8px;
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 10px;
  transition: 0.8s;
}
.borrow::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 42%;
  width: 0;
  height: 0;
  transition: 0.8s;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #757070;
}

.luggage-category {
  width: 100%;
}
.luggage-category__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}
.luggage-category__label {
  position: relative;
}
.luggage-category__label::before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 3px #697b91;
  border-right: solid 3px #697b91;
  transform: rotate(135deg);
}
.luggage-category__label select {
  width: 160px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.luggage-category__add {
  cursor: pointer;
  display: inline-block;
  color: var(--primary-color);
}
.luggage-category__search {
  width: 100%;
  margin-top: 20px;
}
.luggage-category__search input {
  display: inline-block;
  width: 100%;
  padding: 0 25px 0 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  background: #fff;
  background-image: url(/assets/img/icon-search.png);
  background-size: 25px 25px;
  background-position: 2%;
  background-repeat: no-repeat;
}
.luggage-category__btn {
  border-radius: 20px;
  background: #e9a44e;
  padding: 10px 20px;
  color: #fff;
}

.toggle-button {
  display: flex;
  justify-content: end;
  position: relative;
  padding-top: 20px;
}

.toggle-button-cover {
  display: inline-block;
  position: relative;
  width: 65px;
  height: 35px;
  box-sizing: border-box;
  margin-left: 20px;
}
.toggle-button-cover::before {
  font-size: 10px;
  position: absolute;
  content: "";
  top: -15px;
}
.toggle-button-cover:first-child {
  margin-left: 0;
}

.button-cover {
  background-color: #fff;
  border-radius: 20px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
}

.button .knobs:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #cfcfcf;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.button .checkbox:checked + .knobs:before {
  content: "";
  left: 32px;
  background-color: #394c8d;
}

.button .knobs,
.button .knobs:before,
.button .layer {
  transition: 0.3s ease all;
}

.swatch-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 30px;
}
.swatch-left {
  width: 40%;
  padding-bottom: 100px;
}
.swatch-right {
  position: relative;
  width: 55%;
}
.swatch-right__button {
  display: flex;
  justify-content: end;
}
.swatch-right .swatch-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.swatch-button .toggle-button-cover:first-child::before {
  content: "新商品";
}
.swatch-button .toggle-button-cover:nth-child(2)::before {
  content: "お気に入り";
}
.swatch-button .toggle-button-cover:nth-child(3)::before {
  content: "KAKAO露出.";
}
.swatch-button .toggle-button-cover:nth-child(4)::before {
  content: "未進行";
}
.swatch-bg {
  padding: 20px;
}
.swatch-code {
  display: flex;
}
.swatch-code__img {
  width: 40%;
}
.swatch-code__img img {
  display: block;
  width: 100%;
}
.swatch-code__input {
  margin-left: 15px;
  width: 55%;
}
.swatch-code__input input {
  display: inline-block;
  width: 100%;
  height: 25px;
  padding: 5px;
  margin-top: 10px;
}
.swatch-code__input input:first-child {
  margin-top: 0;
}
.swatch-code__label {
  position: relative;
  display: block;
  margin-top: 10px;
}
.swatch-code__label::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 3px #697b91;
  border-right: solid 3px #697b91;
  transform: rotate(135deg);
}
.swatch-code__label select {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 5px;
}
.swatch-feature {
  margin-top: 45px;
}
.swatch-feature__input {
  margin-left: 15px;
}
.swatch-feature__input input {
  display: inline-block;
  width: 100%;
  height: 25px;
  padding: 5px;
  margin-top: 10px;
}
.swatch-feature__input input:first-child {
  margin-top: 0;
}
.swatch-feature__label {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
}
.swatch-feature__label:first-child {
  margin-top: 0;
}
.swatch-feature__label::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 3px #697b91;
  border-right: solid 3px #697b91;
  transform: rotate(135deg);
}
.swatch-feature__label select {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 5px;
}
.swatch-clm {
  text-align: right;
  padding-bottom: 20px;
  border-bottom: 0.5px #979797 solid;
}
.swatch-clm p {
  cursor: pointer;
  display: inline-block;
  color: var(--primary-color);
}
.swatch-manage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;
}
.swatch-manage__button {
  display: inline-block;
  width: 180px;
  padding: 10px 20px;
  border-radius: 17px;
  color: #fff;
}
.swatch-manage__button:first-child {
  background: var(--primary-color);
}
.swatch-manage__button:last-child {
  background: var(--warning-color);
}

.stock-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 30px;
}
.stock-button::before {
  position: absolute;
  content: "";
  background: url(/assets/img/icon-print.png) 100% no-repeat;
  top: 25px;
  right: 10px;
  width: 35px;
  height: 27px;
}
.stock-button .toggle-button-cover {
  margin-right: 60px;
}
.stock-button .toggle-button-cover:first-child::before {
  content: "非表示";
}
.stock-left {
  width: 30%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--shadow-color);
}
.stock-left__img {
  padding: 15px 50px 0;
}
.stock-left__img img {
  width: 100%;
}
.stock-left__name {
  margin: 20px 0 30px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.stock-left__search {
  background: #000;
  padding: 15px;
}
.stock-left__search input {
  display: inline-block;
  width: 100%;
  padding: 0 25px 0 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background: #fff;
  background-image: url(/assets/img/icon-search.png);
  background-size: 35px 35px;
  background-position: 4%;
  background-repeat: no-repeat;
}
.stock-left__clm {
  margin: 20px 0;
  padding: 0 20px 0 10px;
  overflow-y: auto;
  height: 450px;
  max-height: 95%;
}
.stock-left__list {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.stock-left__color {
  padding-left: 20px;
}
.stock-right {
  width: 68%;
  padding: 5px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--shadow-color);
  overflow-y: auto;
  height: 800px;
  max-height: 95%;
}
.stock-right__contents {
  margin-top: 10px;
}
.stock-right__clm {
  border: 1px solid var(--border-color);
}
.stock-right__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #dfdfdf;
}
.stock-right__feature {
  display: flex;
  align-items: center;
}
.stock-right__color {
  color: #000;
  padding-left: 10px;
}
.stock-right__renovation {
  color: var(--primary-color);
}
.stock-right__item {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.stock-right__text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.stock-right__details {
  display: flex;
  align-items: center;
}
.stock-right__date {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
  color: #000;
}
.stock-right__txt {
  color: #f00;
  padding-left: 10px;
}
.stock-right__price {
  color: #000;
}
.stock-right__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.stock-right__circle {
  display: flex;
  padding-bottom: 20px;
  width: 7.5%;
  position: relative;
  justify-content: center;
}
.stock-right__circle::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: #000;
  border-radius: 50%;
  bottom: 12px;
  left: 1px;
  width: 30px;
  height: 30px;
  z-index: 10;
}
.stock-right__num {
  z-index: 50;
}
.stock-right__num p {
  text-align: center;
}
.stock-right__num span {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding-top: 14px;
}
.stock-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 20px;
}
.stock-footer__left button {
  width: 100px;
}
.stock-footer__right button {
  width: 150px;
}
.stock-footer button {
  cursor: pointer;
  background: #646464;
  padding: 10px;
  border-radius: 20px;
  color: #f2f2f2;
  text-align: center;
}

#close {
  cursor: pointer;
}

#mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

#modal {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 100;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  display: none;
}

.swatch-modal {
  display: flex;
  justify-content: space-between;
}
.swatch-modal__add {
  font-size: 20px;
}
.swatch-modal__cancel {
  color: var(--primary-color);
}
.swatch-modal__input {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.swatch-modal__text {
  display: inline-block;
  width: 48%;
  height: 25px;
  padding: 5px;
}
.swatch-modal__label {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  padding: 14px 7px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: 0.2s;
  background-image: url(/assets/img/file-upload.png);
  background-size: 35px 35px;
  background-position: 95.4%;
  background-repeat: no-repeat;
}
.swatch-modal__label:hover {
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}
.swatch-modal__label input {
  display: none;
}
.swatch-modal__button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.swatch-modal__button button {
  width: 30%;
  margin: 0 10px;
  border-radius: 20px;
  padding: 10px 0;
}
.swatch-modal__reset {
  border: 0.5px solid var(--border-color);
}
.swatch-modal__register {
  color: #fff;
  background: var(--primary-color);
  border: 0.5px solid var(--primary-color);
}