@charset "UTF-8";
.nav {
  height: 150px;
  position: relative;
  padding-bottom: 24px;
  transition: 0.5s;
}
.nav-icon {
  text-align: center;
}
.nav-icon img:last-child {
  padding-left: 0;
}
.nav-contents {
  display: none;
  margin-left: 20px;
}
.nav-bar .container {
  width: 100%;
  justify-content: space-between;
}
.nav-bar .nav {
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.5s;
  height: 85%;
  width: 50%;
  flex-basis: content;
  position: absolute;
  z-index: 100;
}
.nav-bar .nav-inner {
  display: flex;
}
.nav-bar .nav-icon img {
  display: block;
}
.nav-bar .sidebar {
  align-items: flex-start;
}
.nav-bar .nav-contents {
  display: block;
}
.nav-bar .nav-contents p {
  transition: 0.5s;
  margin-top: 10px;
}
.nav-bar .nav-contents p:first-child {
  margin-top: 0;
}
.nav-bar .menubar {
  width: 75%;
  flex-basis: content;
}
.nav-bar .borrow {
  transition: 0.5s;
  margin-top: 68vh;
  bottom: -8px;
}
.nav-bar .borrow::before {
  transition: 0.8s;
  transform: rotate(-180deg);
}

.borrow {
  position: relative;
  bottom: 8px;
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 10px;
  transition: 0.5s;
}
.borrow::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 42%;
  width: 0;
  height: 0;
  transition: 0.8s;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #757070;
}

.luggage-category {
  width: 100%;
}
.luggage-category__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}
.luggage-category__label {
  position: relative;
}
.luggage-category__label::before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 3px #697b91;
  border-right: solid 3px #697b91;
  transform: rotate(135deg);
}
.luggage-category__label select {
  width: 160px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.luggage-category__add {
  cursor: pointer;
  display: inline-block;
  color: var(--primary-color);
}
.luggage-category__search {
  width: 100%;
  margin-top: 20px;
}
.luggage-category__search input {
  display: inline-block;
  width: 100%;
  padding: 0 25px 0 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  background: #fff;
  background-image: url(/assets/img/icon-search.png);
  background-size: 25px 25px;
  background-position: 2%;
  background-repeat: no-repeat;
}
.luggage-category__btn {
  border-radius: 20px;
  background: #e9a44e;
  padding: 10px 20px;
  color: #fff;
}

.toggle-button {
  display: flex;
  justify-content: end;
  position: relative;
  padding-top: 20px;
}

.toggle-button-cover {
  display: inline-block;
  position: relative;
  width: 65px;
  height: 35px;
  box-sizing: border-box;
  margin-left: 20px;
}
.toggle-button-cover::before {
  font-size: 10px;
  position: absolute;
  content: "";
  top: -15px;
}
.toggle-button-cover:first-child {
  margin-left: 0;
}

.button-cover {
  background-color: #fff;
  border-radius: 20px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
}

.button .knobs:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #cfcfcf;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.button .checkbox:checked + .knobs:before {
  content: "";
  left: 32px;
  background-color: #394c8d;
}

.button .knobs,
.button .knobs:before,
.button .layer {
  transition: 0.3s ease all;
}

.swatch-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 30px;
}
.swatch-left {
  width: 40%;
  padding-bottom: 100px;
}
.swatch-right {
  position: relative;
  width: 55%;
}
.swatch-right__button {
  display: flex;
  justify-content: end;
}
.swatch-right .swatch-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.swatch-button .toggle-button-cover:first-child::before {
  content: "新商品";
}
.swatch-button .toggle-button-cover:nth-child(2)::before {
  content: "お気に入り";
}
.swatch-button .toggle-button-cover:nth-child(3)::before {
  content: "KAKAO露出.";
}
.swatch-button .toggle-button-cover:nth-child(4)::before {
  content: "未進行";
}
.swatch-bg {
  padding: 20px;
}
.swatch-code {
  display: flex;
}
.swatch-code__img {
  width: 40%;
}
.swatch-code__img img {
  display: block;
  width: 100%;
}
.swatch-code__input {
  margin-left: 15px;
  width: 55%;
}
.swatch-code__input input {
  display: inline-block;
  width: 100%;
  height: 25px;
  padding: 5px;
  margin-top: 10px;
}
.swatch-code__input input:first-child {
  margin-top: 0;
}
.swatch-code__label {
  position: relative;
  display: block;
  margin-top: 10px;
}
.swatch-code__label::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 3px #697b91;
  border-right: solid 3px #697b91;
  transform: rotate(135deg);
}
.swatch-code__label select {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 5px;
}
.swatch-feature {
  margin-top: 45px;
}
.swatch-feature__input {
  margin-left: 15px;
}
.swatch-feature__input input {
  display: inline-block;
  width: 100%;
  height: 25px;
  padding: 5px;
  margin-top: 10px;
}
.swatch-feature__input input:first-child {
  margin-top: 0;
}
.swatch-feature__label {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
}
.swatch-feature__label:first-child {
  margin-top: 0;
}
.swatch-feature__label::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 3px #697b91;
  border-right: solid 3px #697b91;
  transform: rotate(135deg);
}
.swatch-feature__label select {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 5px;
}
.swatch-clm {
  text-align: right;
  padding-bottom: 20px;
  border-bottom: 0.5px #979797 solid;
}
.swatch-clm p {
  cursor: pointer;
  display: inline-block;
  color: var(--primary-color);
}
.swatch-manage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;
}
.swatch-manage__button {
  display: inline-block;
  width: 180px;
  padding: 10px 20px;
  border-radius: 17px;
  color: #fff;
}
.swatch-manage__button:first-child {
  background: var(--primary-color);
}
.swatch-manage__button:last-child {
  background: var(--warning-color);
}

.stock-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 30px;
}
.stock-button::before {
  position: absolute;
  content: "";
  background: url(/assets/img/icon-print.png) 100% no-repeat;
  top: 25px;
  right: 10px;
  width: 35px;
  height: 27px;
}
.stock-button .toggle-button-cover {
  margin-right: 60px;
}
.stock-button .toggle-button-cover:first-child::before {
  content: "非表示";
}
.stock-left {
  width: 30%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--shadow-color);
}
.stock-left__img {
  padding: 15px 50px 0;
}
.stock-left__img img {
  width: 100%;
}
.stock-left__name {
  margin: 20px 0 30px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.stock-left__search {
  background: #000;
  padding: 15px;
}
.stock-left__search input {
  display: inline-block;
  width: 100%;
  padding: 0 25px 0 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background: #fff;
  background-image: url(/assets/img/icon-search.png);
  background-size: 35px 35px;
  background-position: 4%;
  background-repeat: no-repeat;
}
.stock-left__clm {
  margin: 20px 0;
  padding: 0 20px 0 10px;
  overflow-y: auto;
  height: 450px;
  max-height: 95%;
}
.stock-left__list {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.stock-left__color {
  padding-left: 20px;
}
.stock-right {
  width: 68%;
  padding: 5px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--shadow-color);
  overflow-y: auto;
  height: 800px;
  max-height: 95%;
}
.stock-right__contents {
  margin-top: 10px;
}
.stock-right__clm {
  border: 1px solid var(--border-color);
}
.stock-right__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #dfdfdf;
}
.stock-right__feature {
  display: flex;
  align-items: center;
}
.stock-right__color {
  color: #000;
  padding-left: 10px;
}
.stock-right__renovation {
  color: var(--primary-color);
}
.stock-right__item {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.stock-right__text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.stock-right__details {
  display: flex;
  align-items: center;
}
.stock-right__date {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
  color: #000;
}
.stock-right__txt {
  color: #f00;
  padding-left: 10px;
}
.stock-right__price {
  color: #000;
}
.stock-right__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.stock-right__circle {
  display: flex;
  padding-bottom: 20px;
  width: 7.5%;
  position: relative;
  justify-content: center;
}
.stock-right__circle::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: #000;
  border-radius: 50%;
  bottom: 12px;
  left: 1px;
  width: 30px;
  height: 30px;
  z-index: 10;
}
.stock-right__num {
  z-index: 50;
}
.stock-right__num p {
  text-align: center;
}
.stock-right__num span {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding-top: 14px;
}
.stock-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 20px;
}
.stock-footer__left button {
  width: 100px;
}
.stock-footer__right button {
  width: 150px;
}
.stock-footer button {
  cursor: pointer;
  background: #646464;
  padding: 10px;
  border-radius: 20px;
  color: #f2f2f2;
  text-align: center;
}

.setting-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.setting-top__clm {
  width: 49%;
  padding: 10px;
}
.setting-top__clm:first-of-type .toggle-button-cover:first-child::before {
  content: "集めて出庫";
}
.setting-top__clm:first-of-type .toggle-button-cover:nth-child(2)::before {
  content: "一つずつ出庫";
}
.setting-top__clm:nth-of-type(2) .toggle-button-cover:first-child::before {
  content: "全部(Y+K)適用";
}
.setting-top__clm:nth-of-type(2) .toggle-button-cover:nth-child(2)::before {
  content: "Yのみ適用";
}
.setting-top__clm:nth-of-type(2) .toggle-button-cover:nth-child(3)::before {
  content: "Kのみ適用";
}
.setting-top__text {
  margin: 10px 0;
  font-size: 12px;
}
.setting-button {
  padding-top: 35px;
  justify-content: unset;
  border-top: 0.5px #979797 solid;
}
.setting-button .toggle-button-cover {
  width: 70px;
}
.setting-button .toggle-button-cover::before {
  top: -20px;
}
.setting-button .button-cover {
  border: 1px solid var(--border-color);
}
.setting-button .button-cover .knobs::before {
  top: 2px;
}
.setting-contents {
  margin-top: 45px;
  height: 750px;
  overflow-y: auto;
}
.setting-contents__title {
  font-size: 18px;
}
.setting-store {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}
.setting-store__clm {
  width: 49%;
  padding: 10px 15px;
}
.setting-store__topic {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
}
.setting-store__hd03 {
  font-size: 16px;
}
.setting-store__click {
  color: var(--primary-color);
}
.setting-store__info {
  width: 20%;
  padding: 5px 0;
}
.setting-store__profile {
  width: 70%;
  padding: 5px 0 5px 10px;
}
.setting-register {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}
.setting-register::after {
  content: "";
  display: block;
  width: 32%;
  height: 0;
}
.setting-register__clm {
  list-style: none;
  position: relative;
  width: 32%;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 2px;
}
.setting-register__topic {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 0.5px #979797 solid;
}
.setting-register__hd03 {
  font-size: 14px;
}
.setting-register__btn {
  cursor: pointer;
  width: 50px;
  padding: 10px 0;
  position: relative;
}
.setting-register__btn::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background: var(--primary-color);
  top: 9px;
  left: 20px;
}
.setting-register__btn::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  background: var(--primary-color);
  top: 5px;
  left: 25px;
}
.setting-register__inner {
  max-height: 95%;
  overflow-y: auto;
  height: 150px;
}
.setting-register__inner img {
  width: 100%;
}
.setting-register__txt {
  display: flex;
  width: 100%;
  padding: 10px 0;
}
.setting-register__txt p {
  width: 70%;
}
.setting-register__pen {
  cursor: pointer;
  width: 20%;
  margin-left: 10px;
  display: block;
  background-image: url(/assets/img/icon-pen.png);
  background-size: 40px 40px;
  background-position: 10%;
  background-repeat: no-repeat;
}
.setting-register__img {
  width: 66%;
}

.mask_text {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.works_modal_content {
  text-align: center;
}

/* ------works_modal css------ */
.works_modal_wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  opacity: 0;
  z-index: -1;
}

.works_modal_window {
  width: 80%;
  margin: auto;
  padding: 15px;
  background: #fff;
}

.works_modal_content {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}
.works_modal_content h3 {
  font-weight: normal;
}

.works_modal_inner {
  display: flex;
  width: 100%;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}
.works_modal_inner p {
  margin-left: 20px;
}

.works_modal_name {
  width: 80%;
  height: 40px;
  padding: 0 10px;
}

.works_modal_label {
  position: relative;
}
.works_modal_label select {
  width: 100%;
}
.works_modal_label::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 15px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 3px #697b91;
  border-right: solid 3px #697b91;
  transform: rotate(135deg);
}

#bank .setting-register__txt {
  font-size: 12px;
}
#bank .works_modal_label {
  width: 20%;
}
#bank .works_modal_name {
  width: 50%;
}
#bank .works_modal_num {
  display: flex;
  margin-top: 15px;
  margin-left: auto;
  width: 73%;
  height: 40px;
  padding: 0 10px;
}

#pickup .works_modal_inner {
  margin-top: 20px;
}
#pickup .works_modal_inner input {
  height: 50px;
}
#pickup .works_modal_name {
  width: 74%;
}
#pickup .work_modal_time {
  width: 74%;
}
#pickup .work_modal_time input {
  padding: 0 10px;
  width: 110px;
}

#list .works_modal_inner {
  margin-top: 20px;
}
#list .works_modal_inner p {
  width: 25%;
}
#list .works_modal_inner input {
  height: 50px;
}
#list .works_modal_name {
  width: 65%;
}
#list .list_inner {
  justify-content: unset;
}
#list .works_modal_label {
  width: 65%;
}
#list .toggle-button {
  padding-top: 0;
  margin-left: 35px;
}
#list .button-cover {
  border: 1px solid var(--border-color);
}
#list .button .knobs:before {
  top: 2px;
}
#list .works_modal_enclose {
  width: 65%;
}
#list .works_modal_enclose input {
  width: 20%;
  height: 35px;
  text-align: center;
}

#option .works_modal_inner {
  margin-top: 20px;
}
#option .works_modal_name {
  width: 70%;
}

#print .works_modal_img {
  width: 90%;
  margin: 0 auto;
}
#print .works_modal_img img {
  width: 100%;
}
#print .works_modal_close {
  color: #fff;
}

.trade h3 {
  font-weight: bold;
}
.trade .works_modal_inner {
  justify-content: unset;
  margin-top: 20px;
}
.trade .works_modal_inner:first-child {
  margin-top: 0;
}
.trade .works_modal_inner p {
  width: 18%;
}
.trade .works_modal_label {
  width: 37.5%;
}
.trade .works_modal_btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 185px;
  margin: 50px auto 0;
  padding: 10px;
}
.trade .works_modal_num {
  padding: 10px 20px;
}
.trade .works_modal_trade {
  margin-left: 20px;
}
.trade .works_modal_trade:first-of-type {
  margin-left: 0;
}
.trade .works_modal_cash {
  padding-left: 5px;
}

.works_modal_btn {
  cursor: pointer;
  display: block;
  margin: 20px auto;
  padding: 5px 0;
  width: 100px;
  border-radius: 20px;
  background: #4c4949;
  color: #fff;
}

.works_modal_mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.works_modal_close {
  color: var(--primary-color);
  cursor: pointer;
}

.works_modal_close:hover {
  color: #000;
  transition: all 0.5s;
}

html.is_open, body.is_open {
  overflow: hidden;
}

.works_modal_wrapper.is_open {
  -webkit-animation: works_modal_wrapper_open 0.5s ease forwards;
  animation: works_modal_wrapper_open 0.5s ease forwards;
}

.works_modal_wrapper.is_open .works_modal_window {
  -webkit-animation: works_modal_window_open 0.5s ease forwards;
  animation: works_modal_window_open 0.5s ease forwards;
}

.works_modal_wrapper.is_close {
  -webkit-animation: works_modal_wrapper_close 0.5s ease forwards;
  animation: works_modal_wrapper_close 0.5s ease forwards;
}

.works_modal_wrapper.is_close .works_modal_window {
  -webkit-animation: works_modal_window_close 0.5s ease forwards;
  animation: works_modal_window_close 0.5s ease forwards;
}

@-webkit-keyframes works_modal_wrapper_open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 300;
  }
}

@keyframes works_modal_wrapper_open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 300;
  }
}
@-webkit-keyframes works_modal_window_open {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes works_modal_window_open {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes works_modal_wrapper_close {
  0% {
    z-index: 300;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes works_modal_wrapper_close {
  0% {
    z-index: 300;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes works_modal_window_close {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes works_modal_window_close {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
#close {
  cursor: pointer;
}

#mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

#modal {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 100;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  display: none;
}

.swatch-modal {
  display: flex;
  justify-content: space-between;
}
.swatch-modal__add {
  font-size: 20px;
}
.swatch-modal__cancel {
  color: var(--primary-color);
}
.swatch-modal__input {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.swatch-modal__text {
  display: inline-block;
  width: 48%;
  height: 25px;
  padding: 5px;
}
.swatch-modal__label {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  padding: 14px 7px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: 0.2s;
  background-image: url(/assets/img/file-upload.png);
  background-size: 35px 35px;
  background-position: 95.4%;
  background-repeat: no-repeat;
}
.swatch-modal__label:hover {
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}
.swatch-modal__label input {
  display: none;
}
.swatch-modal__button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.swatch-modal__button button {
  width: 30%;
  margin: 0 10px;
  border-radius: 20px;
  padding: 10px 0;
}
.swatch-modal__reset {
  border: 0.5px solid var(--border-color);
}
.swatch-modal__register {
  color: #fff;
  background: var(--primary-color);
  border: 0.5px solid var(--primary-color);
}

.sales-trading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.sales-trading__icon {
  height: 30px;
  position: relative;
}
.sales-trading__icon--01 {
  content: "";
  position: absolute;
  background-image: url(/assets/img/icon-sales_01.jpg);
  background-size: 32px 30px;
  top: 0;
  right: 80px;
  width: 31px;
  height: 30px;
  display: inline-block;
}
.sales-trading__icon--02 {
  content: "";
  position: absolute;
  background-image: url(/assets/img/icon-sales_02.jpg);
  background-size: 32px 30px;
  top: 0;
  right: 15px;
  width: 31px;
  height: 30px;
  display: inline-block;
}
.sales-trading__earning {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sales-trading__title {
  font-size: 20px;
}
.sales-trading__input {
  width: 320px;
  margin-left: 20px;
}
.sales-trading__input input {
  width: 100%;
  padding: 5px 10px;
}
.sales-trading__input label {
  padding-left: 5px;
  font-size: 11px;
}

.sales-table {
  margin-top: 20px;
  background: #fff;
  height: 400px;
  max-height: 95%;
  overflow: auto;
}
.sales-table__th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  padding: 10px 0;
  z-index: 50;
}
.sales-table__td {
  white-space: nowrap;
  padding: 5px;
}
.sales-table__td input {
  width: 80%;
  padding: 5px;
}
.sales-table__circle {
  color: #fff;
  position: absolute;
}
.sales-table__circle--icon {
  position: relative;
}
.sales-table__order {
  padding-left: 10px;
}
.sales-table__result {
  padding-top: 2px;
  padding-left: 6.5px;
}
.sales-table__dot {
  color: #000;
  position: absolute;
  top: 8px;
  right: 10px;
}

.icon--order::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 53px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--primary-color);
}

.icon--result::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -2px;
  width: 20px;
  height: 22px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--primary-color);
}

.icon--dot::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 2px;
  width: 22px;
  height: 25px;
  border-radius: 5px;
  background: #e6e6e7;
}

.sales-list {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sales-list__clm {
  width: 32%;
}
.sales-list__box {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px 10px;
}
.sales-list__box:first-child {
  margin-top: 0;
}
.sales-list__title {
  padding-top: 1px;
}
.sales-list__circle {
  position: relative;
  padding-left: 20px;
}
.sales-list__circle::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background: #383636;
  width: 20px;
  height: 20px;
}
.sales-list__num {
  content: "";
  position: absolute;
  left: 0.5px;
  top: 1.5px;
  color: #fff;
  font-size: 14px;
}
.sales-list__txt {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.sales-list__subtitle {
  padding-top: 5px;
  font-size: 12px;
  display: inline-block;
}

.sales-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 20px;
}
.sales-footer__left button {
  background: var(--yellow-color);
  border: 1px solid var(--yellow-color);
}
.sales-footer__right button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.sales-footer button {
  width: 185px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  color: #f2f2f2;
  text-align: center;
}

.trade-button .button-cover {
  border: 1px solid var(--border-color);
}
.trade-button .button-cover .knobs::before {
  top: 2px;
}
.trade-button span {
  display: inline-block;
  padding-left: 75px;
  padding-top: 8px;
  width: 170px;
}

.trade-asterisk {
  position: relative;
}
.trade-asterisk::before {
  content: "*";
  position: absolute;
  top: 1px;
  left: -10px;
  width: 1px;
  height: 1px;
  color: #956f6f;
}

.trade-btn {
  display: flex;
  width: 65%;
  margin: 50px auto 0;
  justify-content: space-between;
}
.trade-btn__modification {
  background: var(--yellow-color);
  border: 1px solid var(--yellow-color);
}
.trade-btn__delete {
  background: #c02a2a;
  border: 1px solid #c02a2a;
}
.trade-btn__register {
  display: block;
  margin: auto;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.dis-flex {
  display: flex;
  justify-content: space-between;
}

.condition {
  width: 40%;
}
.condition .works_modal_inner p {
  width: 45%;
}

.w100p {
  width: 100%;
}

.w75p {
  width: 75%;
}