.wrapper{
    margin: 0 20px;
  }
  .outline{
    max-width: 1224px;
    margin: 0 auto;
  }
  .inner{
    margin: 0 20px;
  }
  .container{
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .h2{
    &-title{
      font-family: 'Shippori Mincho', serif;
      font-size: 30px;
      color: $color--crimson;
      text-align: center;
      margin-bottom: 42px;
      letter-spacing: 4px;
      @include sp{
        font-size: 23px;
        margin-bottom: 17px;
      }
    }
    &-lead{
      font-size: 36px;
      line-height: 56px;
      font-weight: bold;
      text-align: center;
      @include sp{
        font-size: 24px;
        line-height: 39px;
      }
    }
  }
  .h3{
    &-title{
      font-size: 30px;
      line-height: 42px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
      &:after{
        content: '';
        display: block;
        width: 78px;
        height: 2px;
        background-color: $color--crimson;
        margin: 20px auto 0;
        @include sp{
          margin-top: 7px;
        }
      }
      @include sp{
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 30px;
      }
    }
  }
  .h4-title{
    color: $color--au-chico;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 16px;
    letter-spacing: 1.5px;
  }
  
  p{
    line-height: 32px;
    @include sp{
      line-height: 30px;
    }
  }
  p.fig-title{
    line-height: 22px;
    text-align: center;
  }
  
  .flex{
    display: flex;
    @include tab{
      display: block;
    }
    &-space{
      display: flex;
      justify-content: space-between;
      @include sp{
        display: block;
      }
    }
  }