<!DOCTYPE html>
<html>
<head>
<title></title>
<%- include("_inc/_headCommon") %>
</head>
<body>
	<header>
        <%- include("_inc/_header") %>
	</header>
	<main id="top">
        <%- include("_main") %>
	</main>
	<footer>
        <%- include("_inc/_footer") %>
	</footer>
	<script src="/assets/js/app.js"></script>
</body>
</html>