<!DOCTYPE html>
<html>
<head>
<title></title>
<%- include("inc/_headCommon") %>
<script src="/assets/js/main.js"></script>
</head>
<body>
	<header>
        <%- include("inc/_header") %>
	</header>
	<main>
        <%- include("_mv") %>
	</main>
	<footer>
		<%- include("inc/_footer") %>
	</footer>
</body>
</html>